*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.doctordetails-main1{
    height: auto;
    width: 100%; 
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}
.doctordetails-main2{
    width: 85%;
    height: 57vh;
    margin: 3% auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box; 
}

.doctordetails-box1{
    height: auto;
    /* border: 1px solid rgb(248, 2, 2); */
    width: 100%; 
    display: flex;
    justify-content: center;
    
}
.doctordetails-box1-image{
    height: auto;
    /* border: 1px solid rgb(0, 0, 0); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 20%; 
    justify-content: center;
    border-radius: 10%;
    margin: 1% auto;
}

.doctordetails-box1-image img {
    height: 27vh;
    width: 100%;
    border-radius: 5%;
    /* border: 1px solid rgb(0, 0, 0); */
    object-fit: contain; 
    object-position: center;
}




.doctordetails-box2{
    height: 7vh;
    /* border: 1px solid black; */
    width: 100%; 
    display: flex;
    justify-content: center;
}
.doctordetails-doct-name{
    font-size: 3.2vh;
    font-weight: bold;
    color: #eb7801;
}
.doctordetails-box3{
    height: 5vh;
    /* border: 1px solid black; */
    width: 100%; 
    display: flex;
    justify-content: center;
}
.doctordetails-box3 p{
    font-size: 3vh;
    font-weight: 500;
}



.doctordetails-box4-button {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    /* gap: 5px; */
  }
  
  .doctordetails-image-btn {
    /* height: ; */
    background-color: #5e2d89;
    color: #fff;
    border: none;
    /* border: 1px solid red; */
    /* margin: 2% 5% 10% 2%; */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .doctordetails-image-btn:hover {
    background-color: #7737a1;
  }
