.leaflet-container {
    background: #ddd;
    outline: 0;
  }
  .leaflet-container a {
    color: #603c86;
  }
  .leaflet-container a.leaflet-active {
    outline: 2px solid orange;
  }
  .leaflet-zoom-box {
    border: 2px dotted #eb7801;
    background: rgba(178, 178, 178, 0.5);
  }
  .leaflet-pane,
  .leaflet-tile,
  .leaflet-marker-icon,
  .leaflet-marker-shadow,
  .leaflet-tile-container,
  .leaflet-pane > svg,
  .leaflet-pane > canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
  .leaflet-map-pane {
    z-index: 400;
  }
  .leaflet-tile-pane {
    z-index: 200;
  }
  .leaflet-overlay-pane {
    z-index: 400;
  }
  .leaflet-shadow-pane {
    z-index: 500;
  }
  .leaflet-marker-pane {
    z-index: 600;
  }
  .leaflet-tooltip-pane {
    z-index: 650;
  }
  .leaflet-popup-pane {
    z-index: 700;
  }
  .leaflet-map-pane canvas,
  .leaflet-map-pane svg {
    z-index: 300;
  }
  .leaflet-zoom-hide {
    visibility: hidden;
  }
  .leaflet-tile,
  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .leaflet-tile {
    filter: inherit;
    visibility: hidden;
  }
  .leaflet-tile-loaded {
    visibility: visible;
  }
  .leaflet-zoom-animated {
    transform: translate3d(0, 0, 0);
  }
  .leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: transform;
  }
  .leaflet-zoom-anim .leaflet-tile,
  .leaflet-pan-anim .leaflet-tile {
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  }
  .leaflet-pane {
    transform-origin: 0 0;
  }
  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    display: block !important;
  }
  .leaflet-marker-icon.leaflet-interactive,
  .leaflet-marker-shadow.leaflet-interactive {
    cursor: pointer;
  }
  .leaflet-cluster-icon img {
    width: 40px;
    height: 40px;
  }
  .leaflet-tooltip {
    position: absolute;
    padding: 6px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    text-align: center;
    pointer-events: none;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  }
  .leaflet-tooltip.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
  }
  .leaflet-tooltip-top:before,
  .leaflet-tooltip-bottom:before,
  .leaflet-tooltip-left:before,
  .leaflet-tooltip-right:before {
    position: absolute;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    pointer-events: none;
  }
  .leaflet-tooltip-bottom {
    margin-top: 6px;
  }
  .leaflet-tooltip-top {
    margin-top: -6px;
  }
  .leaflet-tooltip-bottom:before,
  .leaflet-tooltip-top:before {
    left: 50%;
    margin-left: -6px;
  }
  .leaflet-tooltip-top:before {
    border-bottom-color: #fff;
    bottom: 0;
  }
  .leaflet-tooltip-bottom:before {
    border-top-color: #fff;
    top: 0;
  }
  .leaflet-tooltip-left {
    margin-left: -6px;
  }
  .leaflet-tooltip-right {
    margin-left: 6px;
  }
  .leaflet-tooltip-left:before,
  .leaflet-tooltip-right:before {
    top: 50%;
    margin-top: -6px;
  }
  .leaflet-tooltip-left:before {
    border-right-color: #fff;
    right: 0;
  }
  .leaflet-tooltip-right:before {
    border-left-color: #fff;
    left: 0;
  }
  .leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: auto;
  }
  .leaflet-top,
  .leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
  }
  .leaflet-top {
    top: 0;
  }
  .leaflet-right {
    right: 0;
  }
  .leaflet-bottom {
    bottom: 0;
  }
  .leaflet-left {
    left: 0;
  }
  .leaflet-control {
    float: left;
    clear: both;
  }
  .leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
  }
  .leaflet-bar a,
  .leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .leaflet-bar a,
  .leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
  }
  .leaflet-bar a:last-child {
    border-bottom: none;
  }
  .leaflet-bar a:hover {
    background-color: #f4f4f4;
  }
  .leaflet-bar-disabled a {
    cursor: default;
    background-color: #f4f4f4;
    color: #bbb;
  }
  .leaflet-zoom-box {
    background: rgba(255, 255, 255, 0.5);
  }
  .leaflet-control-zoom-in {
    background-image: url(data:image/png;base64,...);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .leaflet-control-zoom-out {
    background-image: url(data:image/png;base64,...);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  